prj_venv/*
archived/*
%*/*
logs/*.log
*.env
*.xlsx
*.csv
*.log
*bak.*
*.bak
**/bak/
tests/manual/*
*.ipynb
output/*
*.pyc
**/__pycache__/
**/output/
**/tmp/
airflow.sh
*.yaml
plugins
logs
batch
*.hintrc
**database
**/cache-directory/
*cache*