psycopg2-binary
pandas
pyodbc
selenium
python-dotenv
tqdm
selenium-stealth
SQLAlchemy
schedule
celery
redis


# ### RESERVED
# flask-oauthlib
# mysql-connector-python
# pyautogui
# xlsxwriter
# psycopg2
# pytest
# streamlit
# apache-airflow
# SQLAlchemy
# openpyxl
# python-dotenv
# tqdm
# selenium-stealth
# celery
# PyJWT
# Flask-Caching
# flask_cors
# SQLAlchemy
# waitress
# gunicorn
